/* Basic body text style and font, also no overflow horizontal */
* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: verdana;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}
/* Link hovering style */
a {
  color: #efeff1;
  text-decoration: none;
}
a:hover {
  color: #A2CAD7;
}
#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("../Images/horses.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 600px;
  color: #fff;
}

.image-box_overlay h1 {
  text-align: center;
  justify-content: center;
}

.image-box_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.logo img{
  height: 320px;
  width: auto;
  opacity: 0.6;
}

/* Webpage navigation bar */
#Navigation {
  width: 100%;
  margin: -10px 0px -10px 0px;
  background-color: #111111;
  font-family: Arial;
  font-size: 22px;
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
  border-color: black;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  word-spacing: 10px;
  font-weight: 800;
  z-index: 2;
}
/* Basic layout for every pages if no changes needed */
#Layout {
  font-family: Arial;
  font-size: 18px;
  margin: 50px 0px 0px 0px;
  transition: all 0.4s ease 0s;
}
#Layout p{
  margin-top: -10px;
}
#profpic {
  border-radius:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  width: 340px;
}
/* 2nd "layout" for about page that i can click to */
#scrollinto {
  margin: 80px 0px 0px 0px;
}
#arrow {
  padding-left: 10px;
  margin-bottom: -120px;
  width: 60px;
  height: auto;
}
/* Button design on about me webpage */
#LeagueOfLegends {
  margin-top: 130px;
  width:300px;
  height: 300px;
  background: url("../Images/boop.png") no-repeat;
}
/* Hover animation */
#LeagueOfLegends:hover {
  margin-top: 130px;
  width:300px;
  height: 300px;
  background: url("../Images/kisse.png") no-repeat;
}
/* Divider if you want to little line to brake the section */
#divider {
margin-top: 90px;
margin-bottom: 100px;
border: 1px solid #111211;
width: 100%
}
#marginbot {
  margin: 70px 0px 70px 0px;
}
/* Contact page CSS, needed to do copypaste my old style so many times for different form thingies */
#contact {
  font-size: 18px;
  width: 100%;
  color: white;
  padding: 15px;
  display:flex;
  justify-content: center;
  text-align: left;
  font-weight: 800;
}
#contact input {
  width: 400px;
  font-size: 18px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1B0F3E;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-top: 5px;
}
#contact textarea {
  font-size: 18px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1B0F3E;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.2s ease 0s;
  margin-top: 5px;
}
#contact select {
  font-size: 18px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1B0F3E;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.2s ease 0s;
  margin-top: 5px;
}
