/* Basic body text style and font, also no overflow horizontal */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  color: #111211;
  background: #efeff1;
  font-family: Verdana;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
}

.wrapper {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align:center;
}

section {
  padding-top: 10px;
}

.title3 {
  font-size: 25px;
}

/* Header */

/* Webpage navigation bar */
#Navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
li a {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  color: #111211;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  color: #5097A1;
}

#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("../Images/horses.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 600px;
  color: #fff;
}

.image-box_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.title {
  margin-top: 120px;
  text-align: center;
  justify-content: center;
  font-size: 2.5em;
}

.logo img{
  height: 260px;
  width: auto;
  opacity: 0.6;
}

hr {
  border: none;
  background-color: white;
  width: 20%;
  color: white;
  height: 2px;
  margin-bottom: 20px;
}

/* Section about Talli */
.grid-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

video {
  width: 580px;
  height: 370px;
}

/* Section Miksi me */
.choice {
  background-image: url("../Images/horses.jpg");
  background-size: cover;
  position: relative;
}

.grid-choice {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.choice .title3 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: 800;
  font-size: 20px;
}

.thumb img {
  width: 26%;
  height: 26%;
}

.grid-item-choice p {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Section Hinnasto */
.grid-prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

.card-bg {
  background-color: #E2F2CE;
  height: 130px;
  width: 60%;
  border-radius: 40px 0 40px 0;

}

/* Contact page CSS, needed to do copypaste my old style so many times for different form thingies */
#contact {

}
#contact input {
  width: 400px;
  font-size: 18px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1B0F3E;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-top: 5px;
}
#contact textarea {
  font-size: 18px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1B0F3E;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.2s ease 0s;
  margin-top: 5px;
}
#contact select {
  font-size: 18px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1B0F3E;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.2s ease 0s;
  margin-top: 5px;
}

.footer {
  background: #E6E6E6;
  height: 200px;
}

.s-media-icons li img {
  width: 50px;
  height: 50px;
}
